@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Paytone+One&display=swap');

:root {
    --heading-font: 'Paytone One', sans-serif;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --heading-color: #05034E;
    --text-color:  #202020;
    --btn-color: #5856CE;
    --secondary-background: #f2f2fd;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    width:100%;
}

button {
    cursor: pointer;
    font-family: var(--secondary-font);
    font-weight: 600;
    transition: .3s all;
}

#header {
    width:100%;
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-gap: 20px;
}

#header .nav-bar {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 0px;
}

#header .logo {
    width:160px;
    height:70px;
}

.nav-bar .nav-links {
    padding:10px;
    display: flex;
    align-items: center;
}

.nav-links .nav-btn-1 {
    font-size: 1.4rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--heading-color)
}

.nav-links .nav-btn-2 {
    margin-left: 2rem;
    font-size: 1rem;
    font-family: var(--secondary-font);
    padding:12px;
    border-radius: 5px;
    border:none;
    background-color:var(--btn-color);
    color:#fff;
} 


.header-content {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}

.header-content .header-heading {
    text-align: center;
}

.header-heading h1{
    font-size: 3.5rem;
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.header-content .header-text {
    text-align: center;
}

.header-text p {
    font-size:1.4rem;
    font-family: var(--primary-font);
    
}

.header-main-btn {
    text-align: center;
    font-family: --var(--secondary-font);
    font-weight: 600;
    margin-bottom: 50px;
}

.header-main-btn .header-btn {
    padding: 15px 32px 15px 32px;
    border: none;
    border-radius: 5px;
    background-color:var(--btn-color);
    color:#fff;
    letter-spacing: 2px;
}

.hover-btn:hover {
    background-color: #7372d1;
}
#content {
    background-color: var(--secondary-background);
    display: grid;
    grid-template-rows: repeat(2, 41vh);
    justify-items: center;
    padding-bottom: 15px;
}

#content .content-header {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-header .content-heading {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    color: var(--heading-color);
    text-align: center;
}

.content-header .content-text{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size:1.2rem;
    width: 85%;
    text-align: center;
}

#content .content-body {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-body .content-body-main {
    width:35%;
    display:flex;
    align-items: flex-start;
}

.content-body-main .icon {
    margin: 5px 30px 0 0;
    
}

.content-body-main .main-1 {
    height:170px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-1 h3{
    font-size:1.2rem;
    font-family: var(--primary-font);
    font-weight: 800;
    color:var(--heading-color);
}

.main-1 p {
    font-size:1rem;
    font-family: var(--primary-font);
    font-weight:400;

}


#showcase {
    width:100%;
    display:grid;
    grid-template-rows: 300px repeat(3,100vh);
    grid-gap: 10px;
}

#showcase .showcase-header {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    
}

.showcase-header h1 {
    font-size:3rem;
    font-family: var(--heading-font);
    color:var(--heading-color);
    text-align: center;
} 

.showcase-group {
    width:92%;
    display:flex;
    padding:20px;
    align-items: center;
    justify-content:space-around;
}

.showcase-group  .showcase-img {
    width:670px;
    
}

.showcase-group .showcase-group-1 {
    height:70vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    padding:0 20px;
    margin-top: 30px;
}

.showcase-group-1 .showcase-btn {
    padding:7px 20px;
    border: none;
    color: #333;
    border-radius:28px;
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight:600;
}

.showcase-group-1 .showcase-heading {
    padding-top: 5px;
    font-family: var(--heading-font);
    color:var(--heading-color);
    font-weight:400;
    font-size:2.5rem;
}

.showcase-group-1 .showcase-sub-heading {
    font-family: var(--heading-font);
    color:var(--heading-color);
    font-weight:400;
    font-size:1.6rem;

}

.showcase-group-1 .showcase-text {
    font-size: 1.2rem;
    color: #202020;
    font-family: var(--primary-font);
    font-weight:400;
}
.btn-bg-1 {
    background-color: #99D0FF;
}

.btn-bg-2 {
    background-color:#99FFCE;
}

.btn-bg-3 {
    background-color:#D299FF;
}


#testimonials {
    height:100vh;
    width:100%;
    background-color:var(--secondary-background);
}

#testimonials .testimonials-heading{
    height:20%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.testimonials-heading h3{
    font-family: var(--heading-font);
    font-size: 31px;
    font-weight: 400;
    text-align: center;
}

#testimonials .testimonials-main-group {
    height:80%;
    width:85%;
    margin: auto;
    display:flex;
    align-items: center;
}
.testimonials-main-group .testimonial-btn-group{
    padding: 60px;
}
.testimonial-btn-group .testimonial-btn-1{
    border:none;
    border-radius:50%;
    color:#49499B;
    padding:6px 12px 9px 9px;
    font-size:2rem;
    box-shadow: 2px 2px 15px 0px #0000001A;
    background-color: #fff;
    transition: .3s transform;
}

.testimonial-btn-1:active{
    transform: scale(.8);
}

.testimonials-main-group .testimonials-main {
    background-color:#fff;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    box-shadow: 12px 12px 30px 0px #00000014;
    border-radius: 10px;
    
}
.testimonials-main .testimonials-main-img {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:100px;
    padding:40px;
}

.testimonials-main-img .quotes {
    width:4rem;
}

.testimonials-main-img .company {
    margin-bottom: 30px;
    width:10rem;
}

.testimonials-main .testimonials-main-text {
    width:65%;
    display:flex;
    margin:auto;
    height:150px;
    align-items: center;
}
.testimonials-main .testimonials-main-text p {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    color:#202020;
    font-weight:400;
    text-align: center;
}

.testimonials-main .testimonial-main-profile {
    display:flex;
    height:100px;
    width: 38%;
    align-items:center;
    justify-content:space-between;
    padding: 20px 0;
}

.testimonial-main-profile .profile{
    width:75px;
}

.testimonial-main-profile .testimonials-name {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.testimonial-main-profile .testimonials-job {
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}


#footer {
    height:40vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction: column;
}

#footer h3 {
    font-family: var(--heading-font);
    color : var(--heading-color);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

#footer p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#footer button {
    border-radius: 4px;
    padding: 15px 20px;
    border:none;
    background-color:var(--btn-color);
    color:#fff;
}

#footer button:hover {
    background-color:#7372d1;
}


@media only screen and (max-width: 1093px) {
  

    .showcase-group-1 .showcase-heading {
        
        font-size:1.5rem;
    }

    .showcase-group-1 .showcase-sub-heading {
        
        font-size:1rem;

        }

    .showcase-group-1 .showcase-text {
        font-size: .6rem;
        }

    .showcase-group  .showcase-img {
        width:400px;
        
    }
    #showcase {
        grid-template-rows: 200px repeat(3,500px);
    }

    .testimonial-main-profile .profile{
        width:50px;
    }

    .testimonial-main-profile .testimonials-name {
        font-size: 12px;
    }
    .testimonial-main-profile .testimonials-job {
        font-size: 8px;
    }

    .testimonials-job{
        width:200px;
    }

    .testimonials-main .testimonials-main-text p {
        font-size: 1rem;
        
    }

    @media only screen and (max-width: 767px) {


        #content .content-body {
            height:150px;
        }

        .main-1 h3{
            font-size:1rem;
            
        }

        .main-1 p {
            font-size:.8rem;
            

        }
        #showcase {
            grid-template-rows: 250px;
        }

        .showcase-group  .showcase-img {
            width:300px;
        
        }
    }
    @media only screen and (max-width: 600px) {
        
       html, body {
            overflow-x: hidden;
            width: 100%;
        }
        #header .logo {
            width:90px;
            height:40px;
}
        .nav-links .nav-btn-1 {
            font-size: .8rem;
            
        }

        .nav-links .nav-btn-2 {
            font-size: .5rem;
        } 

        .header-text p {
            font-size:1.2rem;
            padding:20px;
        }

        .header-heading h1{
            font-size: 2.5rem;
        }

        #content .content-body {
            display:flex;
            align-items:flex-start;
            flex-direction: row;
            justify-content:space-around;
        }
        .content-body .content-body-main {
            width:45%;
            flex-direction: column;
            align-items: center;
        }
        
        .content-header .content-heading {
            font-size: 1.6rem;
        }
        .content-header .content-text{
            font-size:1rem;
            width: 85%;
        }
        .content-body .content-body-main {
            width:40%;
        }
        .content-body-main .main-1 {
            height:170px;
        }
        .main-1 h3{
            font-size:.8rem;
        
        }
        .main-1 p {
            font-size:.6rem;

        }

        #showcase {
            grid-template-rows: 100px repeat(3,100vh);
        }   
        #showcase .showcase-header {
            width:100%;
        }
        .showcase-header h1 {
            font-size:1.4rem;
        } 

        .showcase-group {
            width:100%;
            padding:0;
            flex-direction:column;
        }

        .showcase-group  .showcase-img {
            width:220px;
    
        }

        .showcase-group .showcase-group-1 {
          height:50vh;
          align-items: center ;
          justify-content: center;
        }

        .showcase-group-1 .showcase-btn {
            font-size: .8rem;
            text-align: center;
            width:100%;
        }

        .showcase-group-1 .showcase-heading {
            font-size:1.5rem;
            text-align:center;
        }

        .showcase-group-1 .showcase-sub-heading {
          font-size:.8rem;
          text-align: center;
        }

        .showcase-group-1 .showcase-text {
            font-size: .8rem;
            text-align:center;
        }

        #testimonials .testimonials-main-group {
            height:100%;
            width:100%;
            align-items: center;
            flex-direction: column;
        }

        .testimonials-main-group .testimonial-btn-group{
            padding: 15px;
        }
        .testimonials-heading h3{
            font-size: 24px;
        }
        

        #footer {
            height: 80vh;
        }
    }

}